@import url(https://fonts.googleapis.com/css2?family=Limelight&display=swap);

body {background: url(Clouds.png) center fixed;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;}

header {
  text-align: center;
  padding: 1em 8em;
  background-color: #ffffff;
  border-radius: 20px;}

h1 {
  font: bold 3em "Limelight", "Courier New", sans-serif;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 30px;}

h2 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 1.8em;}

a {text-decoration: none; color: black;}

.brands {list-style: none;}

.navigation {color: black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1.2em;}

footer {
  padding-bottom: 3em;
  padding-top: 3em;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #c2c2c2;
  border-radius: 20px;}

a:hover {color: #265f94; background-color: white;}
a:focus {color: #265f94; background-color: white;}
a:active {color: #06a3e0; background-color: white;}

 table, td, th {border: 2px solid #000000; align-self: center; align-items: center; align-content: center; text-align: center; width: 800px;}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;}

p {font-size: 1.3em;}

.map {list-style: none; margin-top: 2em;}

.container {
  text-align: center;}

.flavors {
  display: inline-block;
  text-align: left;}

.row {
  display:inline-flex;}

.column {
  flex: 33.33%;
  padding: 5px;}

.cans {border: 5px solid #000000; border-radius: 20px;}

.body {margin-left: 18em; margin-right: 18em;}

.tagline {padding-bottom: 4em;}

.footer {margin-top: 9em;}

.brand {margin-top: 3em;}

.contact {margin-bottom: 5em;}